.container{
    display:grid;
    grid-gap:10px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:4fr;
    padding-left:40px;
}

img{
    cursor: pointer;
    /* display:block; */
    text-align: center;
    font-size: 10em;
    border-radius:5px;
    border: 1px solid #bbb;
    transition: all 0.3s linear;
}

img:hover{
    transform: scale(1.1);
}

